{% set page = page ?? 1 %}
{% set entryLimit = 6 %} {# Define the limit for entries per page #}
{% set entryQuery = craft.entries.section("paginas").limit(entryLimit) %}

{% set pageInfo = sprig.paginate(entryQuery, page) %}
{% set entries = pageInfo.pageResults %}

{% for entry in entries %}
    {% set images = entry.afbeeldingen %}
    {% if images | length %}
        {% set imagePageParam = 'imagePage' ~ entry.id %}
        {% set imagePage = craft.app.request.getQueryParam(imagePageParam, 1) %}
        {% set imageLimit = 6 %} {# Define the limit for images per page #}
        
        {% set totalImages = images | length %}
        {% set totalImagePages = (totalImages / imageLimit) | round(0, 'ceil') %}
        {% set start = (imagePage - 1) * imageLimit %}
        {% set end = start + imageLimit %}
        
        {% set paginatedImages = images|slice(start, imageLimit) %}

        <section class="max-w-[90%] md:max-w-[80%] mx-auto">
            <div class="mt-[3rem] lg:grid lg:grid-cols-2 2xl:grid-cols-3 md:gap-4">
                {% for image in paginatedImages %}
                    <div class="w-full mt-4 lg:mt-auto h-[50vh] bg-cover bg-center cursor-pointer" style="background-image: url('{{ image.url }}');" title="{{ image.title }}" onclick="openModal('{{ image.url }}')"></div>
                {% endfor %}
            </div>
            
            <!-- Modal -->
            <div id="imageModal" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-75 flex items-center justify-center hidden">
                <span class="absolute translate-x-1/2 text-5xl top-[5%] right-1/2 md:top-8 md:right-8 text-white md:text-4xl cursor-pointer" onclick="closeModal()">&times;</span>
                <img id="modalImage" class="max-w-[90%] xl:max-w-full max-h-[90%]">
            </div>
            
            <div class="pagination my-[2rem]">
                {% if imagePage > 1 %}
                    <a href="?page={{ page }}&{{ imagePageParam }}={{ imagePage - 1 }}"><button class="button">Vorige</button></a>
                {% endif %}
                
                {% if imagePage < totalImagePages %}
                    <a href="?page={{ page }}&{{ imagePageParam }}={{ imagePage + 1 }}"><button class="button">Volgende</button></a>
                {% endif %}
            </div>
        </section>
        
    {% endif %}
{% endfor %}
