<div class="mt-[5rem]">
    {% include 'components/pages/components/header'%}
</div>
<main class="{{entry.title}} relative overflow-hidden">
    <svg class="absolute top-0 right-[-1px] w-[21%] md:w-[15%] lg:w-[20%] scale-x-[-1] z-[-10]" id="Laag_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 346.25 267.13">
        <defs>
            <style>
            .cls-1 { fill: #d9d7af; stroke-width: 0px; }
            </style>
        </defs>
        <g id="Calque_1">
            <path class="cls-1" d="M346,0S320.43,235.55,0,267.13C-.67,176.76,229.67.33,346,0Z" style="fill: #d9d7af;"/>
            <polyline class="cls-1" points="4 0 346.25 0 0 267.13 0 0" style="fill: #d9d7af;"/>
        </g>
    </svg>
    <div class="w-[90%] lg:w-[75%] mx-auto">
        <div class="lg:text-center mt-[4rem] sm:mt-[6rem] lg:mt-[3rem] lg:w-[80%] mx-auto">{{entry.intro}}</div>
    </div>
    <hr class="hidden lg:block history-line">
    <div class="mb-[4rem]">
        {% for history in entry.geschiedenissecties %}
        {% if loop.index is odd %}
        <div class="fade-up lg:grid grid-cols-2 items-center justify-items-center relative mt-[4rem] lg:mt-[10rem] gap-8 w-[90%] xl:w-[80%] mx-auto">
                    <div class="w-[100%] lg:pr-[5%] xl:px-[10%]">
                        <img class="h-full w-full object-cover" src="{{history.geschiedenisfoto.one().url}}" alt="{{history.title}} image">
                    </div>
                    <div class="hidden lg:block absolute h-[2rem] w-[2rem] rounded-full bg-[#00C9AF]"></div>
                    <div class="lg:pl-[5%] xl:px-[10%] mt-[1rem]">
                        <h3 class="text-[#00ad93] text-4xl mb-[1rem]">{{history.title}}</h3>
                        <div class="">{{history.geschiedenistekst}}</div>
                    </div>
        </div>
            {% endif %}

            {% if loop.index is even %}
                <div class="fade-up lg:grid grid-cols-2 items-center justify-items-center relative mt-[4rem] lg:mt-[10rem] gap-8 w-[90%] xl:w-[80%] mx-auto">
                    <div class="lg:pr-[5%] xl:px-[10%]">
                        <h3 class="text-[#00ad93] text-4xl mb-[1rem]">{{history.title}}</h3>
                        <div class="">{{history.geschiedenistekst}}</div>
                        </div>
                        <div class="hidden lg:block absolute h-[2rem] w-[2rem] rounded-full bg-[#00C9AF]"></div>
                        <div class="w-[100%] lg:pl-[5%] xl:px-[10%]">
                            <img class="h-full w-full object-cover lozad" data-src="{{history.geschiedenisfoto.one().url}}" alt="{{history.title}} image">
                    </div>
                    </div>
                    {% endif %}
                    <hr class="h-[2px] w-full bg-black mt-[2rem] lg:hidden">
        {% endfor %}
    </div>
</main>

<section class="history-dirigenten lg:mt-12">
    <div class="w-[85%] lg:w-[90%] xl:w-[75%] mx-auto">
        <h2 class="text-[2rem] lg:text-[2.5rem] md:text-[3rem] text-[#797D17] mb-[1rem]">Oud dirigenten</h2>
        <div class="sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-[2rem]">
            {% for ouddirigenten in entry.ouddirigenten %}
                <div class="mt-[1.5rem] 2xl:mt-auto">
                    <img class="w-[100%] h-[60vh] sm:h-[50vh] object-cover lozad 2xl:h-[70vh]" data-src="{{ouddirigenten.dirigentimage.one().url}}" alt="{{ouddirigenten.naam}} image">
                    <h2 class="text-2xl mt-[.5rem]">{{ ouddirigenten.naam }}</h2>
                    <p>{{ ouddirigenten.periode }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>